apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-deploy
  labels:
    app: db
spec:
  replicas: 1
  selector:
    matchLabels:
      app: db
  template:
    metadata:
      labels:
        app: db
    spec:
      containers:
        - name: postgres-container
          image: postgres:15
          ports:
            - containerPort: 5432
          envFrom:
            - secretRef:
                name: db-secret
          volumeMounts:
            - name: postgresdb-data
              mountPath: /var/lib/postgresql/data
      volumes:
        - name: postgresdb-data
          hostPath:
            path: /mnt/odoo-db
            type: DirectoryOrCreate
