apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: uc16-postgres-pvc
  namespace: odoo-app
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  volumeName: uc16-postgres-pv



