apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "2"
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{},"labels":{"app":"uc16-postgres"},"name":"uc16-postgres","namespace":"default"},"spec":{"replicas":1,"selector":{"matchLabels":{"app":"uc16-postgres"}},"template":{"metadata":{"labels":{"app":"uc16-postgres"}},"spec":{"containers":[{"envFrom":[{"secretRef":{"name":"postgres-env"}}],"image":"postgres:15","name":"postgres","ports":[{"containerPort":5432}],"volumeMounts":[{"mountPath":"/var/lib/postgresql/data","name":"pgdata"}]}],"nodeSelector":{"kubernetes.io/hostname":"k8s-worker02"},"volumes":[{"name":"pgdata","persistentVolumeClaim":{"claimName":"uc16-postgres-pvc"}}]}}}}
  creationTimestamp: "2025-10-16T10:27:40Z"
  generation: 2
  labels:
    app: uc16-postgres
  name: uc16-postgres
  namespace: default
  resourceVersion: "17589459"
  uid: a18a149b-107d-4950-b8c5-3504330af391
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: uc16-postgres
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: uc16-postgres
    spec:
      containers:
      - envFrom:
        - secretRef:
            name: postgres-env
        image: postgres:15
        imagePullPolicy: Always
        name: postgres
        ports:
        - containerPort: 5432
          protocol: TCP
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /var/lib/postgresql/data
          name: pgdata
      dnsPolicy: ClusterFirst
      nodeSelector:
        kubernetes.io/hostname: k8s-worker02
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
      volumes:
      - name: pgdata
        persistentVolumeClaim:
          claimName: uc16-postgres-pvc
status:
  availableReplicas: 1
  conditions:
  - lastTransitionTime: "2025-11-02T13:38:27Z"
    lastUpdateTime: "2025-11-02T13:38:32Z"
    message: ReplicaSet "uc16-postgres-f7c6c74bb" has successfully progressed.
    reason: NewReplicaSetAvailable
    status: "True"
    type: Progressing
  - lastTransitionTime: "2025-12-07T13:48:19Z"
    lastUpdateTime: "2025-12-07T13:48:19Z"
    message: Deployment has minimum availability.
    reason: MinimumReplicasAvailable
    status: "True"
    type: Available
  observedGeneration: 2
  readyReplicas: 1
  replicas: 1
  updatedReplicas: 1
